{% extends 'base.html.twig' %}

{% block title %}Articles List{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center">Articles List</h1>
        <table border="1">
            <thead>
            <th>#</th>
            <th>Title</th>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
